@import "tailwindcss";

body {
  background-color: #101111; /* trello dark base */
  overflow-x: hidden;
}

html{
    height: 100%;
    font-family: "Quicksand" ,"Inter", sans-serif;
}

/* фикс прыгающих колонок в pangea dnd */
[data-rbd-placeholder-context-id] {
  position: absolute !important;
  opacity: 0 !important;
  pointer-events: none !important;
}

/* для горизонтального скролла */
.scroll-container {
  overflow-x: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.scroll-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}
