@import "tailwindcss";

/* глобальный reset для всех react-icons */
svg {
  pointer-events: none; /* они не будут реагировать на клики/hover */
  user-select: none; /* нельзя выделять текст */
  transition: none !important; /* убираем дерганья при hover */
}